@import "src/styles/constants.global";

.searchBlock {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    background-color: $white;
    border-radius: 0 0 7px 7px;
    box-shadow: 0 0 20 $boxShadowBlack;
    margin: 0 0 30px;

    @include for-phone {
        padding: 0;
        margin: 0 0 0 auto;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        order: 3;
    }
}
