@import "src/styles/constants.global";

.card {
  background-color: $white;
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  @include for-tablet{
    padding: 40px;
    flex-wrap: nowrap;
    align-items: center;
  }
  @include for-desktop{
    padding: 60px;
    max-height: 147px;
  }
  &:hover, &:focus-within{
    outline: 1px solid $grayD9;
  }
}

.card > * {
  flex: 1 1 100%;
  @include for-tablet{
   flex: auto;
  }
}
